/*
@sable-theme
id: accord
name: Accord
author: kr0nst
kind: dark
contrast: low
tags: dark
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/accord.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: #2c2d32;
  --sable-bg-on-container: #f2f2f2;
  --sable-surface-container: #323339;
  --sable-surface-container-line: #484a50;
  --sable-surface-on-container: #fff;
  --sable-primary-main: #5865f2;
  --sable-primary-on-main: #fff;
}
