/*
@sable-theme
id: butter
name: Butter
author: Sable
kind: dark
contrast: low
tags: dark, warm
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/butter.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: #1a1916;
  --sable-bg-on-container: #fffbde;
  --sable-surface-container: #26241f;
  --sable-surface-container-line: #4d483d;
  --sable-surface-on-container: #fffbde;
  --sable-primary-main: #e3ba91;
  --sable-primary-on-main: #1a1916;
}
