/*
@sable-theme
id: cinny-dark
name: Cinny Dark
author: Cinny
kind: dark
contrast: low
tags: dark, cinny
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/cinny-dark.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: #1a1a1a;
  --sable-bg-on-container: #f2f2f2;
  --sable-surface-container: #262626;
  --sable-surface-container-line: #4d4d4d;
  --sable-surface-on-container: #f2f2f2;
  --sable-primary-main: #bdb6ec;
  --sable-primary-on-main: #2c2843;
}
