/*
@sable-theme
id: cinny-silver
name: Cinny Silver
author: Cinny
kind: light
contrast: low
tags: light, cinny
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/cinny-silver.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: #dedede;
  --sable-bg-on-container: #000000;
  --sable-surface-container: #eaeaea;
  --sable-surface-container-line: #c7c7c7;
  --sable-surface-on-container: #000000;
  --sable-primary-main: #1245a8;
  --sable-primary-on-main: #ffffff;
}
