/*
@sable-theme
id: rose-pine
name: Rose Pine
author: wrigglebug
kind: dark
contrast: low
tags: dark, purple
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/rose-pine.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: #191724;
  --sable-bg-on-container: #e0def4;
  --sable-surface-container: #1f1d2e;
  --sable-surface-container-line: #393552;
  --sable-surface-on-container: #e0def4;
  --sable-primary-main: #c4a7e7;
  --sable-primary-on-main: #191724;
}
