/*
@sable-theme
id: black
name: Black
author: Elec3137
kind: dark
contrast: high
tags: dark, oled
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/black.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: #000000;
  --sable-bg-on-container: #ffffff;
  --sable-surface-container: #000000;
  --sable-surface-container-line: #702070;
  --sable-surface-on-container: #ffffff;
  --sable-primary-main: #bdb6ec;
  --sable-primary-on-main: #1b1a21;
}

