/*
@sable-theme
id: cinny-light
name: Cinny Light
author: Cinny
kind: light
contrast: low
tags: light, cinny
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/cinny-light.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: #f2f2f2;
  --sable-bg-on-container: #000000;
  --sable-surface-container: #ffffff;
  --sable-surface-container-line: #d9d9d9;
  --sable-surface-on-container: #000000;
  --sable-primary-main: #1858d5;
  --sable-primary-on-main: #ffffff;
}

