/*
@sable-theme
id: dark
name: Dark
author: Sable
kind: dark
contrast: low
tags: default, bundled
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/dark.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: #1b1a21;
  --sable-bg-on-container: #eae8f0;
  --sable-surface-container: #24232c;
  --sable-surface-container-line: #403f4c;
  --sable-surface-on-container: #eae8f0;
  --sable-primary-main: #bdb6ec;
  --sable-primary-on-main: #1b1a21;
}

