/*
@sable-theme
id: gruvdark
name: GruvDark
author: dollth-ing
kind: dark
contrast: high
tags: dark, retro
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/gruvdark.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: #282828;
  --sable-bg-on-container: #fbf1c7;
  --sable-surface-container: #3c3836;
  --sable-surface-container-line: #665c54;
  --sable-surface-on-container: #fbf1c7;
  --sable-primary-main: #fbf1c7;
  --sable-primary-on-main: #1d2021;
}

