/*
@sable-theme
id: light
name: Light
author: Sable
kind: light
contrast: low
tags: default, bundled
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/light.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: #ffffff;
  --sable-bg-on-container: #18181b;
  --sable-surface-container: #f4f4f5;
  --sable-surface-container-line: #d4d4d8;
  --sable-surface-on-container: #18181b;
  --sable-primary-main: #6e56cf;
  --sable-primary-on-main: #ffffff;
}

