/*
@sable-theme
id: silver
name: Silver
author: Sable
kind: light
contrast: low
tags: light, bundled
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/silver.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: #f7f6f9;
  --sable-bg-on-container: #2d235c;
  --sable-surface-container: #ffffff;
  --sable-surface-container-line: #e3e2eb;
  --sable-surface-on-container: #2d235c;
  --sable-primary-main: #6e56cf;
  --sable-primary-on-main: #ffffff;
}

